h1,
h2,
h3 {
    font-family: Righteous;
}

body {
    height: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    background: black;
}

header h1 {
    font-family: 'Righteous', sans-serif;
    font-style: italic;
    font-size: 40px;
    color: salmon;
    padding: 20px;
    height: 40px;
    align-items: center;
    text-align: center;
}

header nav {
    background: salmon;
    padding: 10px;

}


nav ul li {
    list-style: none;
    display: inline;
    margin-right: 20px;

}

nav ul li a {
    text-decoration: none;
    color: #333;
}

a:hover {
color: aqua;
}
main {
    background: white;
    margin: 30px;
}

.salmon-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-bottom: #333 solid .1px;
    padding-bottom: 30px;

}



ul li {
    list-style: none;
    margin: 5px 32px;
    font-size: 1.2em;
}

ul li {
    list-style: none;
    margin: 5px 32px;
    font-size: 1.2em;
}

#locationList {
    list-style-type: none;
    margin: 2px;


}

#storeList {
    margin-top: 50px;
}

#storeList h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: .5em;
}

footer {

    bottom: 0;
    width: 100%;
    height: 50px;
    background: #cccccc;
    color: black;
    font-size: small;
    text-align: center;
    padding-top: 30px;
}



/* Sales page */

th {
    background-color: grey;
    padding: .8em;
    border: 1px solid #333;
    color: white;
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
}

td{
    border: #333 solid 1px;
    /* background: salmon; */
    padding: .7em;
    text-align: center;
}

td:last-child{
      background: grey;
      /* color: #cccccc; */
  }

  #tableFooter{
    background: grey;
  }

  #salesTable{
    background: salmon;
  }

  #storeForm{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-right: 50px;
  }

  form button{
     margin-left: 10px;
  }

  